body {
    background: rgb(255, 255, 255); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    
    text-align: center;
    height: auto;
    width: 1500px;
    cursor: none;
}
.custom-cursor {
    position: fixed;
    width: 11%;
    height: 11%;
    pointer-events: none;
    display: flex;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 999;
}
h3 {
    color: #c4c4c4;
    font-size: 100px;
    
    position: absolute;
    padding: 0;
    top: 20px;
    left: 48%;
    transform: translateX(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 100px #86aaca;

    z-index: 100;
    
}
h3:hover {
    filter: brightness(112%);
}
h2 {
    color: #c4c6d2;
    font-size: 400%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    text-align: center;
    top: 12px;
    left: 115px;
    border: 13px;
    border-color: aliceblue;
    z-index: 100;
    
}
h2:hover {
    filter: brightness(106%);
}

/*BUTTONS*/

.BB {
    position: absolute;
    top: 0;
    left: 70;
    display: block;
}
.back-button {
    position: absolute;
   
    width: 160px;
    height: auto;

    z-index: 99;
}
.back-button:hover {
    filter: brightness(109%);
}


/*DECORATIONS*/

.camera {
    position: absolute;
    width: 670px;
    height: auto;
    top: -150px;
    left: 62%;
    z-index: 4;
}
.camera:hover {
    transform: scale(1.1,1.1);
}
.star1 {
    position: absolute;
    width: 400px;
    height: auto;
    top: 140px;
    left: 12%;
    
    z-index: 3;
}
.star1:hover {
    filter: brightness(106%);
}

.piano {
    position: absolute;
    width: 1200px;
    height: auto;
    top: 630px;
    left: -30%;
    transform: rotate(90deg);
    z-index: 1;
}




/*CONTENT*/
.me {
    position: absolute;
    width: 30%;
    left: 15%;
    transform: rotate(-90deg);
    top: 50%;
}
.me:hover {
    filter: brightness(109%);
}
.family {
    position: absolute;
    width: 30%;
    right: 25%;
    top: 50%;
}
.family:hover {
    filter: brightness(109%);
}



/*ADV*/
h1{
    position:absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: #ff5c5c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}